go 1.25.0

use ./services/auth-service

use ./services/product-catalog-service

use ./services/order-management-service

use ./services/inventory-service

use ./services/payment-service

use ./services/notification-service

use ./pkg/config

use ./pkg/crypto

use ./pkg/errors

use ./pkg/database

use ./pkg/grpcx

use ./pkg/httpx

use ./pkg/logger

use ./pkg/migrate

use ./pkg/proto

use ./pkg/storage

use ./pkg/swaggerx

use ./pkg/kafka
use ./pkg/relay

use ./pkg/redis

use ./pkg/registry

use ./pkg/metrics

use ./services/api-gateway

use ./services/currency-service
